body{
    background-color: rgb(235, 235, 235);
}

.form-container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-flow: column wrap;
    border-radius: 0.3vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0.4vw 0vw rgb(116, 116, 116);
    width: 30%;
    height: 70%;
    padding: 1.5vw;
}

.form-element {
    border: none;
    border: 0.1vw solid rgb(170, 170, 170);
    height: 8%;
    border-radius: 0.3vw;
    text-indent: 0.8vw;
    width: 80%;
    margin: 0.7vw auto;
}

.form-element:focus {
    border: 0.15vw solid rgb(255, 14, 46);
    box-shadow: 0 0 0.2vw 0vw rgb(255, 14, 46);

}

.btn {
    padding: 0;
    height: 15%;
    border: 0;
    background-color: rgb(255, 14, 46);
    width: 81.5%;
    margin: 0.7vw auto;
    color: white;
    font-weight: 500;
    border-radius: 0.4vw;
    cursor: pointer;
    box-shadow: inset 0 -0.2vw 0.1vw 0vw rgb(179, 4, 27);
}

.btn:hover {
    background-color: rgb(238, 5, 36);
}
