.dashboard-container {
    display: grid;
    grid-template-rows: 4% 96%;
}

.dashboard-nav-container {
    background-color: rgb(20, 20, 20);
    height: 100%;
}

.dashboard-nav-elements-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.dashboard-nav-element {
    display: inline;
    color: rgb(105, 105, 105);
    border: 1px solid white;
    /* margin: 60px; */
}