.navbar {
    background-color: rgb(20, 20, 20);
    height: 50px;
}

.action-Btn {
    width: 5%;
    float: right;
    height: 50px;
    font-weight: 500;
    cursor: pointer;
}

.signin-Btn {
    color: rgb(243, 18, 93);
    background-color: transparent;
    margin-right: 0.3vw;
}

.signup-Btn {
    background-color: rgb(243, 18, 93);
    color: white;
}

.signup-Btn:hover {
    background-color: rgb(231, 15, 87);
}

li {
    display: inline;
}

.action-cont {
    width: 20%;
    text-decoration: none;
}